<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Video
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Video</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Check out our Latest Videos!</ion-card-subtitle>
      <ion-card-title>Latest Video</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <iframe width="auto" height="315" src="https://www.youtube.com/embed/videoseries?list=PLrdsRuM2eycViGaCahALCHjl_FtMiZQni" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Check out our critique of websites around the web</ion-card-subtitle>
      <ion-card-title>Website Review</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <iframe width="auto" height="315" src="https://www.youtube.com/embed/videoseries?list=PLrdsRuM2eycWjAjpfQtB2FJfW-2cKugAf" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>We Stream Our Favorite Songs</ion-card-subtitle>
      <ion-card-title>HI Media Radio</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <iframe width="auto" height="315" src="https://www.youtube.com/embed/videoseries?list=PLrdsRuM2eycVUhHVypKJ0JAoStueR67bI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    </ion-card-content>
  </ion-card>
</ion-content>
