<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Podcasts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Podcasts</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>The Most Import News in 5 Minutes Or Less</ion-card-subtitle>
      <ion-card-title>HI Media Headlines</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <iframe src="https://anchor.fm/himediaheadlines/embed/episodes/June-24th-2020-efsmg9/a-a262637" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Open Conversation,
        Honest Conversation,
        Always</ion-card-subtitle>
      <ion-card-title>HI Soapbox</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <iframe src="https://anchor.fm/hisoapbox/embed/episodes/HI-Soapbox-Bill-Brown-edu9qk/a-a262786" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Random Thoughts & Cut HI Media Content</ion-card-subtitle>
      <ion-card-title>I Can't Shut Up Unless You Tell Me To</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <iframe src="https://anchor.fm/shuttfup/embed/episodes/The-World-is-burning-ft--tyreal-eftk9p/a-a2eekma" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>    </ion-card-content>
  </ion-card>

  
</ion-content>
