<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="head">
      Podcasts <!--Very Important-->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Podcasts</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <!-- HI Medai Headlines -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>The Most Import News in 5 Minutes Or Less</ion-card-subtitle>
      <ion-card-title>HI Media Headlines</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <iframe src="https://anchor.fm/himediaheadlines/embed" height="160px" width="100%"  frameborder="0" scrolling="no"></iframe>
     
    </ion-card-content>
  </ion-card>

<!-- HI Soapbox -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Open Conversation,
        Honest Conversation,
        Always</ion-card-subtitle>
      <ion-card-title>HI Soapbox</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <iframe src="https://anchor.fm/hisoapbox/embed" height="160px" width="100%"  frameborder="0" scrolling="no"></iframe> 
       </ion-card-content>
  </ion-card>

  <!-- I Can't Shut Up Unless You Tell Me To  -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Random Thoughts & Cut HI Media Content</ion-card-subtitle>
      <ion-card-title>I Can't Shut Up Unless You Tell Me To</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <iframe src="https://anchor.fm/shuttfup/embed" height="160px" width="100%" frameborder="0" scrolling="no"></iframe>    </ion-card-content>
  </ion-card>

  <!-- Broktopia -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Financial Show</ion-card-subtitle>
      <ion-card-title>Broketopia</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <iframe src="https://anchor.fm/broketopia/embed" height="160px" width="100%"  frameborder="0" scrolling="no"></iframe>
     
    </ion-card-content>
  </ion-card>

  <!-- The Foul Line -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Sports Show With PT Sean</ion-card-subtitle>
      <ion-card-title>The Foul Line</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <iframe src="https://anchor.fm/thefoulline/embed" height="160px" width="100%"  frameborder="0" scrolling="no"></iframe>
     
    </ion-card-content>
  </ion-card>


  <!-- The Proving Grounds -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Debate Show</ion-card-subtitle>
      <ion-card-title>The Proving Grounds</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <iframe src="https://anchor.fm/himideas/embed" height="160px" width="100%"  frameborder="0" scrolling="no"></iframe>
    </ion-card-content>
  </ion-card>

  <!-- Whats The Real Rating -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>HI Media Reviews Music, Movies, Video Games, And So Much More!</ion-card-subtitle>
      <ion-card-title>What The Real Rating?</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <iframe src="https://anchor.fm/realrating/embed" height="160px" width="100%"  frameborder="0" scrolling="no"></iframe>
    </ion-card-content>
  </ion-card>
<!-- Audiodex -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>An Audio Pokedex</ion-card-subtitle>
      <ion-card-title>Audiodex</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <iframe src="https://anchor.fm/audiodex/embed" height="160px" width="100%" frameborder="0" scrolling="no"></iframe>
    </ion-card-content>
  </ion-card>
  
  <!-- The Travels of Evathos Telvanni -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Tales From Tamriel</ion-card-subtitle>
      <ion-card-title>The Tales & Travels of Evathos Telvanni</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <iframe src="https://anchor.fm/telvanni/embed" height="160px" width="100%"  frameborder="0" scrolling="no"></iframe>
     
    </ion-card-content>
    
  </ion-card>
   <!-- dreammakers -->
   <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Interesting Individuals and Astounding Stories</ion-card-subtitle>
      <ion-card-title>Dreammakers</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <iframe src="https://anchor.fm/dreammakers/embed" height="160px" width="100%"  frameborder="0" scrolling="no"></iframe>
    </ion-card-content>
  </ion-card>
    <!-- patreon -->
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Consider Supporting Us!</ion-card-subtitle>
        <ion-card-title>Patreon </ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
  
        <ion-button shape="round" expand="block" size="large" color="patreon" href="https://www.patreon.com/join/himedia" target="_blank" >
          <ion-icon name="gift-outline"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
  <br>
  <br>
  <br>
  <br>


  
</ion-content>


