
<ion-header>
  <ion-toolbar>
    <ion-title class="head">Stream</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Listen To Us Live!</ion-card-subtitle>
      <ion-card-title>HI Media Live Radio</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <iframe src="//www.zeno.fm/player/hi-media-live" width="100%" height="240" frameborder="0" scrolling="no"></iframe>
    </ion-card-content>
  </ion-card>
  <!-- twitch stream -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Watch Our Stream </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <iframe src="https://player.twitch.tv/?channel=haggardinnovations&parent=himediahome.herokuapp.com" frameborder="0" allowfullscreen="true" scrolling="no" height="400" width="400"></iframe>
      <blockquote class="embedly-card" data-card-controls="0"><h4><a href="https://www.twitch.tv/haggardinnovations">haggardinnovations - Twitch</a></h4><p>Just an IT guy running a business</p></blockquote>
      <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    </ion-card-content>
  </ion-card>
<!-- twitch-->
<ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>Twitch</ion-card-title>
  </ion-card-header>

  <ion-card-content>

    <ion-button shape="round" expand="block" size="large" color="twitch" href="https://www.twitch.tv/haggardinnovations" target="_blank"  >
      <ion-icon name="logo-twitch" ></ion-icon>
    </ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
